.form_container {
  text-align: center;
  margin-top: 40px;
}

.valuefield {
  width: 40%;
  padding: 10px;
  border: 1px solid rgb(208, 205, 205);
  border-radius: 1px;
  margin-bottom: 20px;
}

.submit_btn {
  margin-left: 10px;
  padding: 10px 20px;
  width: 15%;
  background-color: rgb(245, 154, 93);
  border: none;
  color: #fff;
  border-radius: 1px;
}

.submit_btn:hover {
  opacity: 0.7;
}

.weather_area {
  margin-top: 10px;
  display: flex;
}

.display_left {
  width: 48%;
  text-align: center;
  height: 100%;
}

.display_right {
  width: 48%;
  height: 100%;
}

.today_time_title {
  color: rgb(245, 154, 93);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}

.area_title {
  font-weight: bold;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 0px;
}

.label_title {
  margin: 0;
  text-align: left;
  position: relative;
  left: 230px;
  font-weight: bold;
}

.label {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
  color: rgb(245, 154, 93);
  text-align: center;
}
